1.	Create the following:
a.	empty series
b.	series from an array
c.	series from dictionary
d.	scalar series

In [6]:
import pandas as pd
#empty series
s = pd.Series()
print(s)

Series([], dtype: float64)

<ipython-input-6-510cb053229f>:3: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  s = pd.Series()

In [7]:
import pandas as pd
# series from an array
data = np.array(['hd','jd','sd','ssd'])
s = pd.Series(data)
print(s)

0     hd
1     jd
2     sd
3    ssd
dtype: object

In [8]:
import pandas as pd
# creating series using dictionary
data = {'hd' : 0., 'cd' : 1., 'ssd' : 2.}
s = pd.Series(data)
print(s)

hd     0.0
cd     1.0
ssd    2.0
dtype: float64

In [11]:
import pandas as pd
# series from scalar values
s = pd.Series(5, index=[1, 12, 13])
print (s)

1     5
12    5
13    5
dtype: int64

2.	Create indexed series for above b-d points

In [12]:
import pandas as pd
# Accesssing data
s = pd.Series([1,2,3,4,5],index = ['a','b','c','d','e'])
print(s)

a    1
b    2
c    3
d    4
e    5
dtype: int64

3.	Retrieve elements from the series using 
a.	Index names
b.	Index numbers
c.	Slicing

In [13]:
import pandas as pd
#retrieve the first element
print (s[0])

#retrieve a single element using index
print (s['a'])

#retrieve the first three element
print (s[:3])

#retrieve multiple elements
print (s[['a','c','d']])

1
1
a    1
b    2
c    3
dtype: int64
a    1
c    3
d    4
dtype: int64

4.	Create a DataFrame using the following:
a.	Empty DataFrame
b.	DataFrame using list
c.	DataFrame using dictionary
d.	DataFrame using series

In [5]:
import pandas as pd
df = pd.DataFrame()
print(df)
#dataframe using list
data = [1,2,3,4,5]
df = pd.DataFrame(data)
print(df)
# dataframe using dictionary
data = {'Name':['hd', 'hs', 'Ss', 'Rj'],'Age':[2,4,9,2]}
df = pd.DataFrame(data)
print (df)
# Dataframe from Series
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df)

Empty DataFrame
Columns: []
Index: []
   0
0  1
1  2
2  3
3  4
4  5
  Name  Age
0   hd    2
1   hs    4
2   Ss    9
3   Rj    2
   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4

5.	Create 3-4 four colums in a DataFrame for Q4 b-d points

In [6]:
data = {'sno':[1,2,3,4],'Name':['hd', 'hs', 'Ss', 'Rj'],'Age':[2,4,9,2],''}
df = pd.DataFrame(data)
print (df)

   sno Name  Age
0    1   hd    2
1    2   hs    4
2    3   Ss    9
3    4   Rj    2

6.	Add index to all the rows in Q5

In [7]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['roll1','roll2','roll3','roll4'])
print (df)

        Name  Age
roll1    Tom   28
roll2   Jack   34
roll3  Steve   29
roll4  Ricky   42

7.	Display all the values from the DataFrame mentioned in Q6 using index and index name for :
a.	Second row values
b.	Second column values

In [22]:
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
print (df)
print (df['one'])

   one  two
a  1.0    1
b  2.0    2
c  3.0    3
d  NaN    4
a    1.0
b    2.0
c    3.0
d    NaN
Name: one, dtype: float64

8.	Perform slicing by displaying 3rd and 4th row on the DataFrame

In [23]:
df = pd.DataFrame(d)
print (df[2:4])

   one  two
c  3.0    3
d  NaN    4

9.	Delete a row

In [12]:
import pandas as pd
d = {'one' : pd.Series([1, 2, 3], index=['a', 'b', 'c']),
   'two' : pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])}

df = pd.DataFrame(d)
df = df.drop('a')
print(df)

   one  two
b  2.0    2
c  3.0    3
d  NaN    4

10.	Delete a column

In [21]:
data = {'Name':['Tom', 'Jack', 'Steve', 'Ricky'],'Age':[28,34,29,42]}
df = pd.DataFrame(data, index=['roll1','roll2','roll3','roll4'])

df = pd.DataFrame(d)
print ("Deleting the first column using DEL function:")
del df['Age']
print (df)

Deleting the first column using DEL function:

KeyError: 'Age'