Q1. Write a Python program to create a tuple.

In [6]:
tuple1 = (11, 2, 34)
print(tuple1)

(11, 2, 34)

Q2.Write a Python program to create a tuple with different data types.

In [8]:
tuple2 = (1, "Hello", 3.4)
print(tuple2)

(1, 'Hello', 3.4)

Q3.Write a Python program to create a tuple with numbers and print one item.

In [33]:
tuple3 = (5, 10, 15, 20, 25)
print(tuple3[4])

25

Q4,Write a Python program to unpack a tuple in several variables.

In [16]:
tuple4 = 4, 8, 3 
print(tuple4)
n1, n2, n3 = tuple4
print(n1 + n2 + n3) 
n1, n2, n3= tuple4

(4, 8, 3)
15

Q5.Write a Python program to add an item in a tuple.

In [61]:
tuple6 = (4, 6, 2, 8, 3, 1)
list1 = list(tuple6)
list1.append(30)
tuple6 =[list1]
print(tuple6)

[[4, 6, 2, 8, 3, 1, 30]]

Q6.Write a Python program to convert a tuple to a string.

In [20]:
def convertTuple(tup): 
    str =  ''.join(tup) 
    return str
tuple = ('t', 'a', 'b', 'l', 'e') 
str = convertTuple(tuple) 
print(str)

table

Q7.Write a Python program to get the 4th element and 4th element from last of a tuple

In [24]:
tuple3 = (5, 10, 15, 20, 25)
print(tuple3[3])
print(tuple3[-4])

20
10

Q8.Write a Python program to create the colon of a tuple.

In [31]:
tuple8 = ("HELLO", 5, [], True) 
print(tuple8)
tuple9 = deepcopy(tuple8)
tuple9[2].append(50)
print(tuple9)

('HELLO', 5, [], True)
('HELLO', 5, [50], True)

Q9.Write a Python program to find the repeated items of a tuple.

In [32]:
tuple10 = (2, 4, 5, 6, 2, 3, 4, 4, 7) 
print(tuple10)
count = tuple10.count(4)
print(count)

(2, 4, 5, 6, 2, 3, 4, 4, 7)
3

Q10.Write a Python program to check whether an element exists within a tuple.

In [36]:
tuple11 = ("a", 6, "b", "c", "d", "e", "f", "r", "i", "j")
print("r" in tuple11)
print(5 in tuple11)

True
False

Q11.Write a Python program to convert a list to a tuple.

In [66]:
list1 = (5, 10, 7, 4, 15, 3)
print(list1)
tuple1 =list1
print(tuple1)

(5, 10, 7, 4, 15, 3)
(5, 10, 7, 4, 15, 3)

Q12.Write a Python program to remove an item from a tuple.

In [71]:
tuple2 = ("t", 4, "a", "b", "l", "e", "s")
print(tuple2)
list1 = list(tuple2) 
list1.remove("s") 
tuple4 = list1
print(tuple4)

('t', 4, 'a', 'b', 'l', 'e', 's')
['t', 4, 'a', 'b', 'l', 'e']

Q13.Write a Python program to slice a tuple

In [72]:
tuple1 = "HELLO WORLD"
print(tuple1)
slice1 = tuple1[2:9:2]
print(slice1)
slice2 = tuple1[::4]
print(slice2)
slice3 = tuplex[9:2:-4]
print(slice3)

HELLO WORLD
LOWR
HOR
('j', 'e')

Q14.Write a Python program to find the index of an item of a tuple.

In [76]:
tuple23 = ("index tuple")
print(tuple23)
index1 = tuple23.index("p")
print(index1)
index2 = tuple23.index("p", 5)
print(index2)
index3 = tuple23.index("e", 3, 6)
print(index3)

index tuple
8
8
3

Q15.Write a Python program to find the length of a tuple.

In [77]:
tuple1 =("ABCDEFGH")
print(tuple1)
print(len(tuple1))

ABCDEFGH
8

Q16.Write a Python program to reverse a tuple.

In [92]:
tuples=(1,2,3,4,5,67,8) 
reversedTuples = tuples[::-1]    
print(reversedTuples)

(8, 67, 5, 4, 3, 2, 1)