Q1.Create an empty dictionary

In [32]:
Dict = {}
print("Dictionary: ")
print(Dict)

Dictionary:
{}

Q2.Create the following dictionary 
a.	Key	value
b.	A	10
c.	B	20

In [14]:
dict1={1:"a." 'keyvalue',"b." 'A10': 'c', 3: 'B20'}
print(dict1)

{1: 'a.keyvalue', 'b.A10': 'c', 3: 'B20'}

Q3.Create a dictionary with different datatypes for keys

In [15]:
dict = {'name': 'John', 1: [2, 4, 3]}
print(dict)

{'name': 'John', 1: [2, 4, 3]}

Q4.Print all the items of a dictionary

In [16]:
dict12= {'Ritika': 5,
        'Sam': 7, 
        'John': 10, 
        'Aadi': 8}
print(dict12)

{'Ritika': 5, 'Sam': 7, 'John': 10, 'Aadi': 8}

Q5.Delete an element of a dictionary

In [33]:
sq = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
print(sq.pop(4))
print(sq)

16
{1: 1, 2: 4, 3: 9, 5: 25}

Q6.Delete full dictionary

In [19]:
sq = {1: 1, 2: 4, 3: 9, 4: 16, 5: 25}
del sq
print(sq)

NameError: name 'sq' is not defined

Q7.Print a value for a key

In [22]:
dict1 = {"fast": 2, "for": 3, "good": 4}
print(dict1.values())

dict_values([2, 3, 4])

Q8.To check if a key id present in a dictionary

In [24]:
def checkKey(dict, key):
    if key in dict:
        print("Present, ", end =" ")
        print("value =", dict[key])
    else:
        print("Not present")
dict = {'a': 10, 'b':400, 'c':500}
key = 'b'
checkKey(dict, key)
key = 'd'
checkKey(dict, key)

Present,  value = 400
Not present

Q9.	Update a value of a key

In [26]:
d = {1: "one", 2: "three"}
d1 = {2: "two"}
d.update(d1)
print(d)

{1: 'one', 2: 'two'}

Q10.Add a new key value pair

In [64]:
d = {1: "down", 2: "up"}
d1 = {3: "across"}
d.update(d1)
print(d)

{1: 'down', 2: 'up', 3: 'across'}

Q11.Print dictionary for keys{1,10} and values as square of keys

In [39]:
d={}
for x in range(1,11):
    d[x]=x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

Q12.Print nested dictionary

In [42]:
persons = {1: {'name': 'anuj', 'age': '27', 'sex': 'Male'},
          2: {'name': 'priya', 'age': '32', 'sex': 'Female'},
          3: {'name': 'virat', 'age': '22', 'sex': 'male'}}

print(persons)

{1: {'name': 'anuj', 'age': '27', 'sex': 'Male'}, 2: {'name': 'priya', 'age': '32', 'sex': 'Female'}, 3: {'name': 'virat', 'age': '22', 'sex': 'male'}}

Q13.Concatenate three dictionaries
Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [53]:
dic1 = {1: "1", 2: "10"}
dic2 = {3: "30", 4:"40"}
dic1.update(dic2)
dic3 ={5:'50',6:'60'}
dic1.update(dic3)
print(dic1)

{1: '1', 2: '10', 3: '30', 4: '40', 5: '50', 6: '60'}

Q14.Sum all the values of a dictionary

In [63]:
def returnSum(dict):
      
     sum = 0
     for i in dict.values():
           sum = sum + i
       
     return sum
dict = {'a': 100, 'b':200, 'c':300}
print("Sum :", returnSum(dict))

Sum : 600

Q15.Accessing an element of a nested dictionary

In [66]:
persons = {1: {'name': 'anuj', 'age': '27', 'sex': 'Male'},
          2: {'name': 'priya', 'age': '32', 'sex': 'Female'},
          3: {'name': 'virat', 'age': '22', 'sex': 'male'}}

print(persons[1]['name'])
print(persons[2]['age'])
print(persons[3]['sex'])

anuj
32
male

Q16.Write a Python script to print a dictionary where the keys are numbers between 1 and 15 (both included) and the values are square of keys.
Sample Dictionary
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

In [76]:
d={}
for x in range(1,16):
    d[x]=x**2
print(d)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}

Q17.Insert factorial of keys in values. And print dictionary

In [1]:
d={}
def fact(i):
    f=1
    for j in range(1,i+1):
        f=f*j
    return f
for i in range(1,8):
    f=fact(i)
    d[i]=f
print(d)

{1: 1, 2: 2, 3: 6, 4: 24, 5: 120, 6: 720, 7: 5040}

# sets

Q1.Write a program to create a set

In [5]:
s1={"1","2"}
print(s1)

{'1', '2'}

Q2.	Write a program to add an element to set

In [7]:
s1={"1","2"}
s1.add('C')
print(s1)

{'1', 'C', '2'}

Q3.	Write a program to add multiple items using update function

In [8]:
s1={"1","2","3"}
s2={"a","b","c"}
s1.update(s2)
print(s1)

{'3', 'c', 'b', '2', 'a', '1'}

Q4.	Write a program to find length of a set

In [10]:
s2={"a","b","c","d","e"}
print(len(s2))

5

Q5.	Write a program to remove value from a set

In [11]:
s2={"a","b","c","d","e"}
s2.remove("e")
print(s2)

{'a', 'b', 'd', 'c'}

Q6.	Write a program to pop an element from a set

In [12]:
S = {"ram", "rahim", "ajay", "rishav", "aakash"}
print(S.pop())
print(S.pop())
print(S.pop())
print(S)

ram
ajay
rahim
{'rishav', 'aakash'}

Q7.	Write a program to update a set

In [13]:
s1={"1","2","3"}
s2={"a","b","c"}
s1.update(s2)
print(s1)

{'3', 'c', 'b', '2', 'a', '1'}

Q8.	Write a Python program to create an intersection of sets.

In [15]:
setx = set(["a", "b","c"])
sety = set(["b", "c"])
setz = setx & sety
print(setz)

{'c', 'b'}

Q9.	Write a Python program to create a union of sets.

In [16]:
setx = set(["g", "c"])
sety = set(["b", "y"])
setb = setx | sety
print(setb)

{'c', 'b', 'y', 'g'}

Q10.	Write a Python program to clear a set.

In [18]:
setp = set(["R", "G"])
setq = setp.copy()
print(setq)
setq.clear()
print(setq)

{'G', 'R'}
set()

Q11.	Write a Python program to issubset and issuperset.

In [19]:
A = {1, 2, 3, 4, 5}
B = {1, 2, 3}
C = {1, 2, 5}
print(A.issuperset(B))
print(B.issuperset(A))
print(C.issuperset(B))

True
False
False

Q12.	Write a Python program to create set difference.

In [20]:
setx = set(["a", "m"])
sety = set(["m", "o"])
setz = setx & sety
print(setz)
seta = setx - setz
print(seta)

{'m'}
{'a'}

Q13.	Write a Python program to create a symmetric difference.

In [23]:
setx ={"a", "b"}
sety ={"m", "o"}
setz = setx ^ sety
print(setz)

{'a', 'b', 'm', 'o'}